src/wsdl/ugkm5199lt201_8080/E-Utilities/eutilities.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="nssf" type="tns:nssf"/>

<xs:element name="nssfResponse" type="tns:nssfResponse"/>

<xs:element name="nwsc" type="tns:nwsc"/>

<xs:element name="nwscResponse" type="tns:nwscResponse"/>

<xs:element name="umeme" type="tns:umeme"/>

<xs:element name="umemeResponse" type="tns:umemeResponse"/>

<xs:element name="ura" type="tns:ura"/>

<xs:element name="uraResponse" type="tns:uraResponse"/>

<xs:complexType name="nwsc">
<xs:sequence>
<xs:element name="prn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nwscResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nssf">
<xs:sequence>
<xs:element name="prn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nssfResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="umeme">
<xs:sequence>
<xs:element name="prn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="umemeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ura">
<xs:sequence>
<xs:element name="prn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>