src/wsdl/ugkm5199lt201_8080/E-Utilities/eutilities.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="eutilities">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://ugkm5199lt201:8080/E-Utilities/eutilities?xsd=1"/>
</xsd:schema>
</types>
<message name="umeme">
<part name="parameters" element="tns:umeme"/>
</message>
<message name="umemeResponse">
<part name="parameters" element="tns:umemeResponse"/>
</message>
<message name="ura">
<part name="parameters" element="tns:ura"/>
</message>
<message name="uraResponse">
<part name="parameters" element="tns:uraResponse"/>
</message>
<message name="nwsc">
<part name="parameters" element="tns:nwsc"/>
</message>
<message name="nwscResponse">
<part name="parameters" element="tns:nwscResponse"/>
</message>
<message name="nssf">
<part name="parameters" element="tns:nssf"/>
</message>
<message name="nssfResponse">
<part name="parameters" element="tns:nssfResponse"/>
</message>
<portType name="eutilities">
<operation name="umeme">
<input wsam:Action="http://ws/eutilities/umemeRequest" message="tns:umeme"/>
<output wsam:Action="http://ws/eutilities/umemeResponse" message="tns:umemeResponse"/>
</operation>
<operation name="ura">
<input wsam:Action="http://ws/eutilities/uraRequest" message="tns:ura"/>
<output wsam:Action="http://ws/eutilities/uraResponse" message="tns:uraResponse"/>
</operation>
<operation name="nwsc">
<input wsam:Action="http://ws/eutilities/nwscRequest" message="tns:nwsc"/>
<output wsam:Action="http://ws/eutilities/nwscResponse" message="tns:nwscResponse"/>
</operation>
<operation name="nssf">
<input wsam:Action="http://ws/eutilities/nssfRequest" message="tns:nssf"/>
<output wsam:Action="http://ws/eutilities/nssfResponse" message="tns:nssfResponse"/>
</operation>
</portType>
<binding name="eutilitiesPortBinding" type="tns:eutilities">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="umeme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nwsc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nssf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="eutilities">
<port name="eutilitiesPort" binding="tns:eutilitiesPortBinding">
<soap:address location="http://ugkm5199lt201:8080/E-Utilities/eutilities"/>
</port>
</service>
</definitions>